<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/err.css" />
</head>

<body>
    <header>
        <h1>404 NOT FOUND</h1>
    </header>
    <main>

        <div id="error404">
            <img
                src="http://assets-news-bcdn.dailyhunt.in/cmd/resize/400x400_60/fetchdata13/images/e0/3b/28/e03b2843e93009a2db2bcb52261ade71.jpg">

        </div>
    </main>
</body>

</html>