<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <footer>
        <div id="foo">
            <div id="in">
                <p id="mar">Copyright<sup>©</sup> 2020</p>
                <ul id="ul">
                    <li class="li"><a href="https://www.facebook.com/nasa.eq" class="fa fa-facebook"> </a></li>
                    <li class="li"><a href="https://www.instagram.com/naseem_qatamein/" class="fa fa-instagram"></a>
                    </li>
                    <li class="li"><a href="" class="fa fa-snapchat"></a></li>
                    <li class="li"><a href="https://github.com/naseem-qa" class="fa fa-github"></a></li>
                    <li class="li"><a href="https://www.linkedin.com/in/nassem-qatameen-0b4654194"
                            class="fa fa-linkedin"></a></li>
                </ul>
                <!-- <p>This website created with love by<br> Nassem Izzat </p> -->
            </div>
        </div>
    </footer>
    <style>
        #foo {
            background-color: black;
            color: white;
            font-family: 'Bebas Neue', cursive;
            /* position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            overflow:hidden;
            margin-top: 90%; */

        }

        #ul {

            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding-top: 15px;
            padding-bottom: 10px;

        }

        #in {
            display: flex;
            justify-content: baseline;
        }

        #mar {
            margin-right: 990px;
            padding-left: 10px;
            padding-top: 5px;
        }
    </style>
</body>

</html>